/* HTML5 Toolsのロゴなどのスタイル*/
.distance {
    margin: 5px;
    padding: 5px;
}
#titlebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    height: 50px;
}
#titlebar h1 {
    margin: 0;
}
#title {
    cursor: pointer;
}
.center {
    text-align: center;
}
#tooltitle {
    font-size: 3em;
    font-weight: bold;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    color: #333;
    margin-top: 16px;
}
#card {
    --height: calc(100vh - 8px);
    height: var(--height);
    width: 100%;
    border: 2px solid #666666;
    cursor: pointer;
    font-size: 100px;
    
    /* Flexboxの設定 */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
} 
#card-text {
    text-align: center;
}
#card-num {
    position: absolute;
    bottom: 0;
    right: 25px;
    font-size: 40px;
    transition: color 0.5s ease-in-out;
}
#card-num[textcolor="red"] {
    color: rgb(245, 38, 38);
}
#card-prev {
    position: absolute;
    top: 0;
    font-size: 50px;
}
#card-info {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 20px;
    color: #dbdbdb;
}
#STCdiv{
    text-align: center;
    margin: 10px;
}

textarea {
    height: 150px;
    width: 220px; /* 横幅を固定 */
    max-width: 100%;
    box-sizing: border-box;
    resize: vertical;
}